name: Monorepo Release
on:
  push:
    branches: [ main ]
    paths: [ 'plugins/**' ]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needed to see history for diffs

      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install Global Tools
        run: |
          npm install -g semantic-release \
            @semantic-release/git @semantic-release/exec \
            @semantic-release/changelog semantic-release-monorepo

      - name: Run Manager
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_REG_USERNAME: ${{ secrets.DOCKER_REG_USERNAME }}
          DOCKER_REG_PASSWORD: ${{ secrets.DOCKER_REG_PASSWORD }}
          CI_PREV_COMMIT_SHA: ${{ github.event.before }}
          CI_COMMIT_SHA: ${{ github.event.after }}
        run: node manager.mjs



